%li.mypage-order-item
  =link_to item_order_path(order.item_id, order.id), class: "mypage-order-link" do
    .mypage-order-link__pic
      = image_tag (order.item.images.first.image.url), alt: "sample", class: "order-link-img"
    .mypage-order-link__body
      - case controller.action_name
      - when "sale"
        .order-message
          = order.item.name
      - else
        .order-message
          「#{order.item.name}」を購入しました。取引中です。
      .order-status
        取引中
    = fa_icon 'angle-right', class: "order-icon"
