%nav.bread-crumbs
  %ul
    %li
      = link_to items_path, itemprop: 'url', class: "parent" do
        %span{itemprop: :"title"} メルカリ
      %i.fas.fa-angle-right
    %li.item-name
      %span{itemprop: :"title"} うさぎ
