.app-banner{
  background: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?49711911");
  background-size: cover;
  margin: 0 auto;
  background-color: #212121;
  color: $white;
  &-contents {
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    .app-banner-inner {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translate(0, -50%);
      .frima-app {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      .free-download {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        margin-top: 10px;
        font-size: 35px;
      }
      .app-banner-icon {
        @include clearfix();
        margin-top: 20px;
        height:68px;
        .mercari-icon {
          float: left;
          vertical-align: middle;
          width: 68px;
        }
        .app-download {
          @include clearfix();
          vertical-align: middle;
          float: left;
          margin-left: 24px;
          line-height: 68px;
          .app-apple {
            float: left;
            .app-link {
              display: block;
              line-height: 68px;
              img {
                vertical-align: middle;
              }
            }
          }
          .app-android{
            margin-left: 16px;
            float: left;
            .app-link {
              display: block;
              line-height: 68px;
              img {
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
    .smartphone {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 100%;
    }
  }
}

.global-footer {
  background-color: #212121;
  color: $white;
  text-align: center;
  padding: 60px 0;
  .footer-nav {
    width: 1020px;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      .footer-cell {
        width: 23%;
        margin-right: 2%;
        display: inline-block;
        vertical-align: top;
        .footer-head {
          font-size: 16px;
          line-height: 1.4;
          display: block;
        }
        ul {
          list-style: none;
          li:first-child {
            display: block;
            margin: 24px 0 0;
          }
          li {
            display: block;
            font-size: 13px;
            margin-top: 16px;
            .footer-link {
              @include link($white);
            }
          }
        }
      }
      .footer-cell:last-child {
        margin: 0;
        .language {
          width: auto;
          margin: 0 auto;
          opacity: .3;
          display: block;
          .country-flag {
            width: 22px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
          }
          .country {
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
            color: $white;
          }
        }
        li:last-child {

        }
      }
    }
  }
  .footer-logo {
    display: block;
    margin-top: 40px;
    .footer-mercari-logo {
      width: 124px;
      height: 33px;
      vertical-align: middle;
    }
  }
  .footer-copyright{
    margin-top: 8px;
    font-size: 12px;
  }
}
.footer-sell-btn {
  height: 160px;
  width: 160px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 50%;
  background-color: $red;
  color: $white;
  text-align: center;
  text-decoration: none;
  .sell {
    font-size: 22px;
    margin-top: 32px;
  }
  .fa-camera {
    font-size: 54px;
    margin-top: 8px;
  }
}

.footer-nav-lang{
  li{

  }
}
