.default-container {
  background-color: $white;
  .visible{
    display: block;
    width: 100%;

    .header-inner{
      width: 1020px;
      height: 90px;
      margin: 0 auto;
      padding-top: 8px;
      background: #fff;
      .inner-box {
        @include clearfix();
        .logo {
          float: left;
          .mercari{
            width: 134px;
            height: 36px;
          }
        }
        .header-form {
          width: calc(100% - 150px);
          float: right;
          position: relative;
          .input-default {
            width: 100%;
            height: 36px;
            padding: 9px 32px 9px 8px;
            background: $form;
            border-radius: 4px;
            border: 1px solid #ccc;
            line-height: 1.5;
            font-size: 16px;
          }
          .fa-search {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 35px;
            text-align: center;
            height: 20px;
            background: $form;
            margin-top: 1px;
            margin-right: 5px;
            width: 35px;
            height: 34px;
          }
        }
      }
      .header-nav-box {
        @include clearfix();
        margin-top: 8px;
        .l-left {
          display: inline-block;
          float: left;
          .header-nav {
            font-size: 14px;
            font-weight: 400;
            .search-category{
              display: inline-block;
              position: relative;
              height: 38px;
              .header-nav-root {
                line-height: 32px;
                text-decoration: none;
                color: $black;
              }
            }
            .search-brand{
              position: relative;
              display: inline-block;
              padding-left: 16px;
              .header-nav-root {
                line-height: 32px;
                text-decoration: none;
                color: $black;
              }
            }
          }
        }
        .l-right {
          float: right;
          //ログインしてない時
          .login-btn {
            display: inline-block;
            height: 30px;
            .btn-red {
              display: block;
              height: 30px;
              background: $red;
              border: 1px solid $red;
              color: #fff;
              border-radius: 4px;
              text-align: center;
              padding: 0 10px;
              line-height: 30px;
              font-size: 14px;
              text-decoration: none;
            }
          }
          .register-btn {
            display: inline-block;
            margin-left: 8px;
            .header-signup {
              display: block;
              border: 1px solid $blue;
              background: $white;
              color: $blue;
              line-height: 30px;
              border-radius: 4px;
              text-align: center;
              font-size: 14px;
              text-decoration: none;
              padding: 0 10px;
            }
          }
          //ログインしてる時
          .header-mypage {
            height: 38px;
            @include clearfix();
            &-link {
              @include mypage-btn();
              display: flex;
              align-items: center;
              .my-avatar {
                box-sizing: border-box;
                padding-bottom: 2px;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                overflow: hidden;
                object-fit: cover;
              }
              .header-myp {
                margin-left: 5px;
                height: 38px;
                line-height: 34px;
              }
            }
            &-notice {
              @include mypage-btn();
            }
            &-todo {
              @include mypage-btn();
            }
            .far {
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
