.listing-item-change-box{
  margin: 24px auto;
  background: #fff;
  padding: 8px 16px 8px 16px;
  width: 700px;
  box-sizing: border-box;
  .btn-default{
    margin: 16px 0 16px 0;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  .btn-red{
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  .btn-gray{
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
  }
  p{
    font-size: 16px;
    text-align: center;
  }
  a{
    text-decoration: none;
  }
}
