.new-header {
  @include items-new();
  text-align: center;
  padding: 32px 16px;
  font-size: 22px;
  font-weight: bold;
}
.new-upload {
  @include items-new();
  padding: 40px;
  span {
    margin: 0;
    display: inline-block;
    .title {
      font-weight: bold;
      font-size: 16px;
    }
    .require {
      background-color: $red;
      border-radius: 5px;
    }
  }
  p {
    margin-top: 8px;
    line-height: 1.5;
  }
}
.new-itembox {
  @include items-new();
  padding: 40px;
}
