.item-link {
  text-decoration: none;
  .items-box-photo {
    object-fit: contain;
    margin: auto;
    top: 0;
    position: absolute;
      .item-image {
        object-fit: fill;
      }
    }
  .products {
    height: 110px;
    position: absolute;
    bottom: 0;
    padding: 16px;
    box-sizing: border-box;
    display: block;
    &__name {
      @include fadeout();
      font-weight: 400;
      margin: auto;
      height: 3em;
      overflow: hidden;
      color: $black;
      line-height: 1.5em;
      white-space: normal;
      font-size: 16px;
      text-align: left;
    }
    &__price {
      @include clearfix();
      margin-top: 8px;
      color: $black;
      &--fig {
        float: left;
        font-weight: 600;
      }
      &--likes {
        float: right;
        .icon-like-border {
          font-size: 16px;
          margin-right: 4px;
          display: inline-block;
        }
        .num {
          margin-top: 1px;
          display: inline-block;
          font-weight: 400;
          font-size: 12px;
        }
      }
      &--tax {
        font-size: 10px;
        clear: both;
        margin: auto;
        text-align: left;
      }
    }
  }
}

