.message-content__comments
  .comments-box
    .message-user
      = image_tag "img.jpeg", alt: "sample", class: "avatar"
    .message-user-name
      石川啄木
    .message-body
      .text
        うさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいいうさぎかわいい
      .icons
        .icons-left
          %i.far.fa-clock
          %span 456日前
        .icons-right
          = link_to items_path, class: "message-report" do
            %i.fas.fa-flag-checkered
      %i.fas.fa-caret-left

