.owl-dot
  = image_tag (image.image.url), alt: "sample", class: "thumbnail-s"
/ .owl-dot
/   = image_tag (@item.images.second.image.url), alt: "sample", class: "thumbnail-s"
/ .owl-dot
/   = image_tag "https://pbs.twimg.com/profile_images/3406268893/54b7e1f981b7df7c817af48d1b96ad5e_400x400.jpeg", alt: "sample", class: "thumbnail-s"
/ .owl-dot
/   = image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Vulpes_vulpes_laying_in_snow.jpg/250px-Vulpes_vulpes_laying_in_snow.jpg", alt: "sample", class: "thumbnail-s"
