= link_to items_path, class: 'item-link' do
  %figure.items-box-photo
    = image_tag "img.jpeg", alt: "sample", height: "220px", width: "220px"
  .products
    %h3.products__name
      【本物★人気】ボッテガヴェネタ ダークブラウン レザー ２つ折り 財布
    .products__price
      .products__price--fig ¥1,000
      .products__price--likes
        %i.icon-like-border
          %i.far.fa-heart
        %span.num 44
      %p.products__price--tax (税込)
