%main.l-container
  = render "users/sidebar"
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head 支払い方法
    .l-single-inner
      .l-single-content
        .form-group
          %label クレジットカード一覧
          - if @card.present?
            .card_section
              .card_number
              = @card[0].number
              .expiration_date 有効期限
              = @card[0].expiration_month.to_s + "/" + @card[0].expriration_year.to_s
              %img{alt: "", height: "20", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?840690802", width: "49"}/
          - else
            %button#submit-button.btn-default.btn-red{type: "button"}
              %i.fas.fa-credit-card クレジットカードを追加する

