.order-main-container {
  width: 700px;
  margin: 0 auto;
  &__menu {
    background-color: $white;
    margin-bottom: 2px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    .order-menu__list {
      line-height: 20px;
      vertical-align: middle;
      text-align: center;
    }
  }
  .order-item__pay-btn {
    &__do {
      text-decoration: none;
      width: 500px;
      line-height: 50px;
      vertical-align: middle;
      @include link($white);
      background-color: $red;
    }
  }
}
