- breadcrumb :category, @category
.contents
  %section.pickup-container
    %h2.pickup-head
      = @category.name
      の商品一覧

    %section.items-box-container-show
      .items-box-content

        = render @items
